[Unit]
Description=Unit Status Telegram Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c '(/bin/echo "Subject: %I failed"; /bin/systemctl status %I) | /usr/sbin/ssmtp "-FCHERI Compiler Explorer"  -v cl-ctsrd-infra@lists.cam.ac.uk'
